/* * {
  transition: all 0.25s ease;

  ::selection {
    color: white;
    background-color: #2b2425;
  }
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #2b2425;
}

.image-card {
  position: relative;
  display: flex;
  width: 35rem;
  height: calc(35rem * calc(9 / 16));
  background-color: #2b2425;
  margin: auto;
  box-shadow: 0 8px 8px -6px;
  overflow: hidden;
  cursor: default;

  &:hover {
    box-shadow: 0 8px 8px -2px;
    transform: translateY(-5px);
    border: 0.15rem solid whitesmoke;

    .text-container {
      z-index: 10;
    }
    img {
      filter: blur(0.5rem) grayscale(50%);
      -webkit-filter: blur(0.5rem) grayscale(50%);
      -moz-filter: blur(0.5rem) grayscale(50%);
      transform: scale(1.05);
      opacity: 50%;
    }
  }
  &:active {
    opacity: 80%;
  }

  img {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
  }

  .text-container {
    position: relative;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    backdrop-filter: blur(1rem) opacity(0%);

    h1 {
      height: fit-content;
      margin: 0;
      color: white;
      font-size: 2rem;
      font-family: "Gill Sans", sans-serif;
    }
    p {
      height: fit-content;
      color: white;
      font-size: 1.1rem;
      font-family: "Helvetica", sans-serif;
    }
    .footer {
      height: fit-content;
      position: relative;
      display: flex;
      margin-top: auto;
      color: white;
      font-size: 0.9rem;
      flex-wrap: wrap;
      font-family: monospace;
      align-items: flex-end;
      box-sizing: border-box;

      h4 {
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 1rem;
        cursor: pointer;

        &:hover {
          color: whitesmoke;
        }
      }
    }
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2425;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  position: relative;
}

.card .img-box {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  transition: all 0.3s;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    border: 3px solid rgb(180, 177, 177);

    .text-content {
      z-index: 10;

      & h1 {
        transform: translateY(0);
      }

      & p {
        transform: translateX(0);
      }
    }

    img {
      filter: blur(0.5rem) grayscale(50%) brightness(80%);
    }
  }
}

.card img {
  width: 100%;
  transition: all 0.3s;
}

.text-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  z-index: -1;
  transition: all 0.3s;

  h1 {
    color: rgb(215, 214, 214);
    transform: translateY(-130%);
    transition: all 0.3s;
  }

  p {
    color: rgb(215, 214, 214);
    transform: translateX(130%);
    transition: all 0.3s;
  }
}
