@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: black;
  position: relative;
  height: 100vh;
}

body::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../img/Gradients.png), url(../img/Design.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

.hero {
  position: relative;
}
