$bg: grey;
$text-color: white;
$padding: 20px;
$text-center: center;
$h-full: 100vh;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $h-full;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: $bg;
  color: $text-center;
  width: 50%;
  text-align: $text-center;
  padding: $padding;
  animation: 1s alternate fadeInUp;
}
