body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right top, #646392, #545380, #44446d, #35355c, #26274b, #24264f, #212552, #1e2456, #273071, #313c8d, #3c48a9, #4755c7);;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.login-form {
    height: 100vh;
}

.form {
    background-color: white;
    color: silver;
    margin: auto 100px;
    padding: 50px;
    padding-left: 0;
    border-radius: 15px;
    background-color: rgb(49, 49, 135);
    box-shadow: 0 15px 75px 0 rgba(0, 0, 0, 0.2), 0 10px 22px 0 rgba(0, 0, 0, 0.19)
}

img {
    width: 115%;
    /* mix-blend-mode: color-burn; */
}

.form-control {
    background-color: silver;
    border: none;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
}

a {
    color:silver;
    text-decoration: none;
    transition: all 0.2s;
}

a:hover {
    color: white;
    transition: all 0.2s;
}

.btn {
    background-color: #a7a6b3;
    color: white;
    width: 150px;
    padding: 8px;
    border-radius: 10px;
    transition: all 0.2s;
}

.btn:hover {
    background-color: white;
    color: black;
    transition: all 0.2s;
}