* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: gray;
  width: 50%;
  text-align: center;
  padding: 20px;
  animation: 1s alternate fadeInUp;
}
