body{
    background-image: linear-gradient(to right top, #4b1069, #743984, #9c61a1, #c38abf, #e9b6df);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1 {
    text-decoration: underline;
}
table td {
    margin: 0 0 20px 0;
    input {
        margin: 0 0 20px 0;
    }
    
    address {
        margin: 0 0 20px 0;
    }
} 

/* form {
    border: 1px solid black;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}



 */