@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
margin : 0;
padding : 0;
box-sizing : border-box;
}

.logo {
    background-color: black;
    display : flex;
    justify-content : center;
    align-items : center;
    gap: 10px;
    height: 100vh;
}

.logo div {
    font-family: "Poppins", sans-serif;
    font-size: 72px;
    color: white;
    font-weight: 600;
}

.logo .outer-circle {
    border: 5px solid transparent;
    border-right: 5px solid white;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    /* border-top: 5px solid white;
    border-bottom: 5px solid white; */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display : flex;
    justify-content : center;
    align-items : center;
    position: relative;

    /* animation - 1 */
    /* animation-name: logo_loader;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */

    /* rotate animation */
    /* animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */

    /* spinner loader */
    animation-name: spinner;
    animation-timing-function: linear;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;

}

.logo .outer-circle .mini {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    top: -8px;

}

.logo .inner-circle {
    border: 5px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display : flex;
    justify-content : center;
    align-items : center;

    /* animation-name: scalable;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}

/* animation - 1 */
/* @keyframes logo_loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.1);
        opacity: 0;
    }
} */


/* animation - 2 */
/* @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes scalable {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
} */


/* animation - 3 */

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}