div {
  background-color: lightblue;
}
h2 {
  background-image: linear-gradient(
    #cfffff,
    #cacffd,
    #99ccff,
    #79c8eb,
    #629ccb,
    #3d99c6
  );
}
table {
  border: 1px white;
  background-color: lightblue;
}
h4 {
  padding-top: 20px;
  color: red;
}
th {
  color: red;
}
td {
  color: blue;
}
